<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<h2 class="visually-hidden">{{ 'homepage.sections.frontpage_title' | t }}</h2>


<ul class="feature-list">
  <li class="feature-list__item feature-list__item--a">
    <a href="/collections/" class="feature-list__link">
      <h3 class="feature-list__title">Shop All Collections</h3>
      {% comment %} default: 760x460 - 1.5x: 1140x690 - 2x: 1520x920 {% endcomment %}
      <img src="{{ 'home-page-large-main.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 66vw"
        srcset="{{ 'home-page-large.jpg' | asset_url }} 760w, 
        {{ 'home-page-large-1-5x.jpg' | asset_url }} 1140w,
        {{ 'home-page-large-2-x.jpg' | asset_url }} 1520w" 
        alt="" />
    </a>
  </li>

  <li class="feature-list__item feature-list__item--b">
    <a href="/collections/for-mom/" class="feature-list__link">
      <h3 class="feature-list__title">For Mom</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-mother2.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-mother2.jpg' | asset_url }} 380w, 
        {{ 'home-page-mother2-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-mother2-2-x.jpg' | asset_url }} 760w" 
        alt="" />
      </a>
  </li>

  <li class="feature-list__item feature-list__item--c">
    <a href="/collections/faith/" class="feature-list__link">
      <h3 class="feature-list__title">Faith</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-faith2.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-faith2.jpg' | asset_url }} 380w, 
        {{ 'home-page-faith2-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-faith2-2-x.jpg' | asset_url }} 760w" 
        alt="" />
      </a>
  </li>

  <li class="feature-list__item feature-list__item--d feature-list__item--border" id="sd-promo">
    {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
    <img src="{{ 'home-page-promotion.png' | asset_url }}" 
      sizes="(max-width: 48em) 100vw, 33vw"
      srcset="{{ 'home-page-promotion.png' | asset_url }} 380w, 
      {{ 'home-page-promotion-1-5x.png' | asset_url }} 570w,
      {{ 'home-page-promotion-2-x.png' | asset_url }} 760w" 
      alt="Free Shipping on orders over $100" />
  </li>

  <li class="feature-list__item feature-list__item--e">
    <a href="/collections/necklaces" class="feature-list__link">
      <h3 class="feature-list__title">Necklaces</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-necklace.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-necklace.jpg' | asset_url }} 380w, 
        {{ 'home-page-necklace-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-necklace-2-x.jpg' | asset_url }} 760w" 
        alt="" />
      </a>
  </li>

  <li class="feature-list__item feature-list__item--f">
    <a href="/collections/bracelets" class="feature-list__link">
      <h3 class="feature-list__title">Bracelets</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-bracelet.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-bracelet.jpg' | asset_url }} 380w, 
        {{ 'home-page-bracelet-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-bracelet-2-x.jpg' | asset_url }} 760w" 
        alt="" />
      </a>
  </li>

  <li class="feature-list__item feature-list__item--g">
    <a href="/collections/rings" class="feature-list__link">
      <h3 class="feature-list__title">Rings</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-ring.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-ring.jpg' | asset_url }} 380w, 
        {{ 'home-page-ring-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-ring-2-x.jpg' | asset_url }} 760w" 
        alt="" />
    </a>
  </li>

  <li class="feature-list__item feature-list__item--h feature-list__item--border" id="sd-newsletter">
    <div class="feature-list__content text-center">
      <h3>Subscribe to the Newsletter</h3>
      <p>Join the Shay Designs mailing list for amazing deals, new arrivals, exclusive sales, and more! Don't worry we won't spam your inbox.</p>
      [[Mail Chimp stuff goes here]]
    </div>
  </li>
</ul>
