<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<h2 class="visually-hidden">{{ 'homepage.sections.frontpage_title' | t }}</h2>


<ul class="feature-list">
  <li class="feature-list__item feature-list__item--a">
    <a href="/collections/all" class="feature-list__link">
      <h3 class="feature-list__title">Shop All</h3>
      {% comment %} default: 760x460 - 1.5x: 1140x690 - 2x: 1520x920 {% endcomment %}
      <img src="{{ 'home-page-large-main.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 66vw"
        srcset="{{ 'home-page-large.jpg' | asset_url }} 760w, 
        {{ 'home-page-large-1-5x.jpg' | asset_url }} 1140w,
        {{ 'home-page-large-2-x.jpg' | asset_url }} 1520w" 
        alt="" />
    </a>
  </li>

  <li class="feature-list__item feature-list__item--b">
    <a href="#" class="feature-list__link">
      <h3 class="feature-list__title">For Momfdsa</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-mother2.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-mother2.jpg' | asset_url }} 380w, 
        {{ 'home-page-mother2-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-mother2-2-x.jpg' | asset_url }} 760w" 
        alt="" />
      </a>
  </li>

  <li class="feature-list__item feature-list__item--c">
    <a href="#" class="feature-list__link">
      <h3 class="feature-list__title">Faith</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-faith2.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-faith2.jpg' | asset_url }} 380w, 
        {{ 'home-page-faith2-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-faith2-2-x.jpg' | asset_url }} 760w" 
        alt="" />
      </a>
  </li>

  <li class="feature-list__item feature-list__item--d feature-list__item--border" id="sd-promo">
    {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
    <img src="{{ 'home-page-promotion.png' | asset_url }}" 
      sizes="(max-width: 48em) 100vw, 33vw"
      srcset="{{ 'home-page-promotion.png' | asset_url }} 380w, 
      {{ 'home-page-promotion-1-5x.png' | asset_url }} 570w,
      {{ 'home-page-promotion-2-x.png' | asset_url }} 760w" 
      alt="Free Shipping on orders over $100" />
  </li>

  <li class="feature-list__item feature-list__item--e">
    <a href="/collections/necklaces" class="feature-list__link">
      <h3 class="feature-list__title">Necklaces</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-necklace.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-necklace.jpg' | asset_url }} 380w, 
        {{ 'home-page-necklace-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-necklace-2-x.jpg' | asset_url }} 760w" 
        alt="" />
      </a>
  </li>

  <li class="feature-list__item feature-list__item--f">
    <a href="/collections/bracelets" class="feature-list__link">
      <h3 class="feature-list__title">Bracelets</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-bracelet.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-bracelet.jpg' | asset_url }} 380w, 
        {{ 'home-page-bracelet-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-bracelet-2-x.jpg' | asset_url }} 760w" 
        alt="" />
      </a>
  </li>

  <li class="feature-list__item feature-list__item--g">
    <a href="/collections/rings" class="feature-list__link">
      <h3 class="feature-list__title">Rings</h3>
      {% comment %} default: 380x230 - 1.5x: 570x345 - 2x: 760x460 {% endcomment %}
      <img src="{{ 'home-page-ring.jpg' | asset_url }}" 
        sizes="(max-width: 48em) 100vw, 33vw"
        srcset="{{ 'home-page-ring.jpg' | asset_url }} 380w, 
        {{ 'home-page-ring-1-5x.jpg' | asset_url }} 570w,
        {{ 'home-page-ring-2-x.jpg' | asset_url }} 760w" 
        alt="" />
    </a>
  </li>

  <li class="feature-list__item feature-list__item--h feature-list__item--border" id="sd-newsletter">
    <div class="feature-list__content text-center">
      <h3>Subscribe to the Newsletter</h3>
      <p>Join the Shay Designs mailing list for amazing deals, new arrivals, exclusive sales, and more! Don't worry we won't spam your inbox.</p>
      [[Mail Chimp stuff goes here]]
    </div>
  </li>
</ul>

<hr>

<h2>{{ 'homepage.sections.featured_title' | t }}</h2>

<div class="grid-uniform">

  {% comment %}
    Show five collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top six returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for collection in collections limit:6 %}
    {% unless index > 5 %}

      {% unless collection.handle == 'frontpage' %}
        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-fifth medium--one-third' %}
        <div class="grid__item {{ collection_item_width }} text-center">
          {% comment %}
            Use capture to put the collection title in a variable that is used in liquid filters
          {% endcomment %}
          {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
            {% if collection.image %}
              {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
            {% else %}
              {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
            {% endif %}
          </a>

          <p>
            <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a><br>
            {{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}
          </p>
        </div>
        {% assign index = index | plus: 1 %}
      {% endunless %}

    {% endunless %}
  {% endfor %}

  {% comment %}
    For onboarding new users to your theme, we add some default collections and onboarding tutorials to help populate their store
  {% endcomment %}

  {% if isEmpty %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-collections' %}
  {% endif %}

</div>
